{{ extend 'layout.html' }}
<br>
<div id="chart"></div>
<br>

<br>
<table id="aws-data-table" class="display compact" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>DAS</th>
            <th>Timestamp</th>
            <th>Electric Consumption</th>
            <th>001EC600229C_2__4</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>DAS</th>
            <th>Timestamp</th>
            <th>Electric Consumption</th>
            <th>001EC600229C_2__4</th>
        </tr>
    </tfoot>
</table>

<br>