
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center wsd-jumbotron">

        <h1>
          <small></small>
        </h1>

      </div>
    </header>
{{end}}


<h2>Welcome to Bill Auditing and Tenant Submetering!</h2>


<div class="panel panel-info wsd-index-admin-panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="btn-block"
        href="{{=URL('admin','default','index')}}">
        <i class="glyphicon glyphicon-cog"></i>
        {{=T("ADMIN")}}
      </a>
    </h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Site Administration"), _href=URL('admin','site','index'))}}</li>
    <li class="list-group-item">{{=A(T("Database Administration"), _href=URL('appadmin','index'))}}</li>
  </ul>
</div>




<div class="panel panel-info wsd-index-admin-panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="btn-block"
        href="{{=URL('admin','default','index')}}">
        <i class="glyphicon glyphicon-cog"></i>
        {{=T("AWS DB")}}
      </a>
    </h3>
  </div>

  <ul class="list-group">
    <li class="list-group-item">{{=A(T("View DAQ Info"), _href=URL('aws_table', args=['das_attributes']))}}</li>
    <li class="list-group-item">{{=A(T("View Device Info"), _href=URL('aws_table', args=['device_attributes']))}}</li>
    <li class="list-group-item">{{=A(T("View Sample Device Data"), _href=URL('device', args=['001EC600229C_2']))}}</li>
  </ul>
</div>

