

.iframe_container{
	margin:0 auto;
}

iframe{
	width:90%;
	height:600px;
}

table{
	text-align: center;
}

td{
	padding-right: 5px;
	padding-left: 5px;
}

.wsd-jumbotron{
	height:40vmin;
}

.wsd-index-admin-panel{
	margin-top: 30px;
}

.bat-logo{
	width:50px;
	transform:rotate(45deg);
	position:absolute;
	top: -5px;
	left: 50px;
}

.wsd-navbar-brand{
	width:100px;
}

.wsd-toggle{
 	background-image: linear-gradient(to bottom,#2E2E2E 0,#3C3C3C 100%) !important;
}


td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}